/* Content Area
--------------------------------------------- */

/* Entry Content
--------------------------------------------- */
.error404 .content{
	padding:4%;
}
.page-template-contact-page .entry-header{
	background-image: url('data:image/svg+xml;charset=UTF-8, <svg id="e7556b38-bbc3-421c-9791-bd5f0524b28d" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 653.4"><defs><style>.a5923ea7-72e5-44c1-b5d0-e0997c1d8264,.e3da3fe2-b320-403d-813d-4fe774562ef5{fill:none;}.ba90a9fa-9e43-4988-924a-7b43ead931e6{clip-path:url(%23b9070d54-30b3-4ad5-842f-17f283f03d49);}.a9636cf0-485e-4244-bb61-926d435d55fc{fill:%23f2f2f3;}.a7a85178-cbcf-4305-b398-a960948fe9c1{fill:%23de7c98;}.a0b0ba26-4e2a-466b-965b-8d924911fd74{fill:%23eaab3c;}.b35c925d-2adc-4930-b381-e2f0f67f0b28{fill:%23e9473f;}.fddb30f9-0d5f-4f1e-ba8a-80978ce20ca2{fill:%2371b8ad;}.a602d092-9e71-447f-8b9f-2f4ac850eb26{fill:%23008c9a;}.a0a2ed88-2299-443d-8fb2-1327c0ab0584{fill:%232c3c4c;}.e3da3fe2-b320-403d-813d-4fe774562ef5{stroke:%231d1d1b;stroke-linecap:round;stroke-linejoin:round;stroke-width:5.7px;}.a9295181-2bf5-4043-ae00-3d3f24ba752f{fill:%231d1d1b;}.ac2a89c9-0566-40c4-a3de-67d137d93d3c{fill:%23e5074c;}</style><clipPath id="b9070d54-30b3-4ad5-842f-17f283f03d49"><rect class="a5923ea7-72e5-44c1-b5d0-e0997c1d8264" y="-184" width="1280" height="5600"/></clipPath></defs><title>get-in-touch</title><g class="ba90a9fa-9e43-4988-924a-7b43ead931e6"><rect class="a9636cf0-485e-4244-bb61-926d435d55fc" y="-4.41" width="1280" height="657.81"/><g class="ba90a9fa-9e43-4988-924a-7b43ead931e6"><path class="a7a85178-cbcf-4305-b398-a960948fe9c1" d="M206.41,259.31c-72.77-80.48-20.92-192.22,58.08-195,146.45-5.24,200.76,151.39,111,324.66C292.61,549,203.91,569.12,148.87,523.3c-61.79-51.45-29.18-147.12,14.18-180.84,24.64-19.17,85.24-36.84,43.36-83.15"/><path class="a0b0ba26-4e2a-466b-965b-8d924911fd74" d="M553.92,371.11c2.32-80.17-106.26-141.53-172.73-40s73.09,320.43,192.54,261.45c62.44-48.54-23.47-94.82-19.81-221.43"/><path class="b35c925d-2adc-4930-b381-e2f0f67f0b28" d="M854.3,357.78c-16-112.13,10.82-195.34,133.34-179.21,131.87,17.36,128.64,210.18,63.68,303S908.52,640.35,826.63,621.37s-78.17-107.15-29.49-141c46.24-28.27,59.2-80.72,57.16-122.57"/><path class="fddb30f9-0d5f-4f1e-ba8a-80978ce20ca2" d="M733.46,177.51C710.9-1.93,542.56,9.15,533,194.45,525,351.87,731.42,544.63,821.8,405.08c42.13-65.06-76.55-133.77-88.34-227.57"/><path class="a602d092-9e71-447f-8b9f-2f4ac850eb26" d="M1116.83,423.18c14-39.05,59.33-46.14,90.73-26.89,49.24,33.16,40.55,94.89-17.09,156.93s-71.19,69.83-91.21,51.22c-24.82-23.06,24.64-68.15,25.19-100.82s-22.19-39.67-7.62-80.44"/><path class="a0a2ed88-2299-443d-8fb2-1327c0ab0584" d="M145.81,215.34c-9.9,33.06-47.29,40.93-74.21,26.29C29.23,216.23,33.77,164.56,79,110.51S135.07,49.39,152.52,64C174.14,82.06,135,121.67,136,148.84s20.16,32,9.83,66.5"/><path class="e3da3fe2-b320-403d-813d-4fe774562ef5" d="M602,519.5l48.23-58.36m-63,64.65s25.44-75.24,30.06-83.19m-36.87,73.16s1-82.91-1.49-94.91m-6,110.18S543,449,536.63,422.32m22.65,111.56L525.06,427m22.23,109.89c-3.81-11.29-36.6-105.74-36.6-105.74m24.55,110.54c-3.08-10.07-13.66-48.19-22.71-67S497,434,497,434m24.79,111.34L486.37,440.9m24.23,111c-11.18-22.24-26.07-55-31.56-76.1-5.17-19.91-6.54-29.88-6.54-29.88"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M648.82,134c62-5.44,141.56-11.75,142.16-9.81s.57,3.21-.28,3.52-75.87,4.9-89.46,5.76-51.87,5.28-52.92,5-1.42-4.36.5-4.52"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M791.18,135c-1,0-88.39,6.54-95.25,7.39s-45.44,2.49-46.45,3.09-1.05,3.69-.35,3.95,93.56-6.76,109.73-7.72,32.88-1.68,32.94-4.21c.06-2-.62-2.5-.62-2.5"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M791.85,146.77c-1.72.07-67.91,5.4-73.42,5.63s-68.3,4.3-69.13,5.18-.91,2.85.14,3.37,89.78-6.33,108.69-8,33.54-2.27,34.17-3.7a2.34,2.34,0,0,0-.45-2.51"/></g><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M854.73,40.39c8.28,0,13.5,4,16.56,8.76L864.21,53a11.36,11.36,0,0,0-9.48-5c-7.26,0-12.54,5.58-12.54,13.14s5.28,13.13,12.54,13.13a13.57,13.57,0,0,0,8.64-3V66.31H852.69V59h19.07V74.28a22.18,22.18,0,0,1-17,7.56c-11.7,0-21.3-8.16-21.3-20.75S843,40.39,854.73,40.39Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M878.55,41.05h28.31v7.32H887.07v8.7h19.37v7.32H887.07v9.29h19.79v7.38H878.55Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M922.76,48.55H911.07v-7.5H943v7.5H931.34V81.06h-8.58Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M963.8,41.05h8.52v40H963.8Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M988.76,54.19V81.06h-8.52v-40H989L1007.54,67V41.05h8.52v40h-8.22Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M1048.58,48.55h-11.7v-7.5h31.92v7.5h-11.64V81.06h-8.58Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M1091.78,40.39c12.12,0,20.94,8.64,20.94,20.7s-8.82,20.69-20.94,20.69-20.88-8.64-20.88-20.69S1079.72,40.39,1091.78,40.39Zm0,7.56c-7.38,0-12.12,5.64-12.12,13.14s4.74,13.13,12.12,13.13S1104,68.52,1104,61.09,1099.16,48,1091.78,48Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M1118.72,41.05h8.64V64.81c0,5.57,3.06,9.41,9.3,9.41s9.18-3.84,9.18-9.41V41.05h8.64V65c0,10-5.7,16.74-17.82,16.74s-17.94-6.84-17.94-16.68Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M1160.48,61.09c0-12.3,9.3-20.7,21-20.7,9.12,0,14.22,4.8,17,9.78l-7.32,3.6a11,11,0,0,0-9.72-5.82c-7,0-12.24,5.58-12.24,13.14s5.28,13.13,12.24,13.13a10.83,10.83,0,0,0,9.72-5.82l7.32,3.54a18.58,18.58,0,0,1-17,9.84C1169.78,81.78,1160.48,73.38,1160.48,61.09Z"/><path class="a9295181-2bf5-4043-ae00-3d3f24ba752f" d="M1231,64.27h-18.9V81.06h-8.52v-40h8.52V56.77H1231V41.05h8.58v40H1231Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1019.47,126.43l-4.08,13.16H1010l-5.87-19.32h5.27l3.6,13,4.24-13h4.52l4.24,13,3.6-13h5.28L1029,139.59h-5.4Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1046.11,119.79c5.76,0,9.68,4.32,9.68,10.64v1.12h-14.36c.32,2.44,2.28,4.48,5.56,4.48a7.9,7.9,0,0,0,5.16-1.92l2.24,3.28a11.91,11.91,0,0,1-8,2.68c-5.88,0-10.31-4-10.31-10.16A9.82,9.82,0,0,1,1046.11,119.79Zm-4.76,8.32h9.52a4.48,4.48,0,0,0-4.76-4.28A4.64,4.64,0,0,0,1041.35,128.11Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1059,122.23a6.74,6.74,0,0,0,3.08-3.8,1.8,1.8,0,0,1-.76.16,2.74,2.74,0,0,1-2.72-2.88,3.19,3.19,0,0,1,3.12-3.19c1.88,0,3.6,1.48,3.6,4.07a9.33,9.33,0,0,1-4.12,7.44Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1069.43,120.27h5.08v2.64a8.26,8.26,0,0,1,6.16-3.08v5a6.75,6.75,0,0,0-1.4-.12,6.44,6.44,0,0,0-4.76,2.16v12.76h-5.08Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1092.59,119.79c5.76,0,9.68,4.32,9.68,10.64v1.12h-14.36c.32,2.44,2.28,4.48,5.56,4.48a7.9,7.9,0,0,0,5.16-1.92l2.24,3.28a11.91,11.91,0,0,1-8,2.68c-5.88,0-10.32-4-10.32-10.16A9.83,9.83,0,0,1,1092.59,119.79Zm-4.76,8.32h9.52a4.48,4.48,0,0,0-4.76-4.28A4.64,4.64,0,0,0,1087.83,128.11Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1127.79,137.59a8,8,0,0,1-6.12,2.48c-3.08,0-6.72-2.08-6.72-6.4,0-4.52,3.64-6.16,6.72-6.16a7.81,7.81,0,0,1,6.12,2.36v-2.68c0-2-1.68-3.24-4.24-3.24a8.13,8.13,0,0,0-5.64,2.28l-1.92-3.4a12.67,12.67,0,0,1,8.44-3c4.4,0,8.44,1.76,8.44,7.32v12.48h-5.08Zm0-5a5.08,5.08,0,0,0-4.08-1.68c-2,0-3.64,1.08-3.64,2.92s1.64,2.84,3.64,2.84a5.08,5.08,0,0,0,4.08-1.68Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1137.91,112.92H1143v26.67h-5.08Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1148,112.92h5.08v26.67H1148Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1177.15,119.79c5.76,0,9.68,4.32,9.68,10.64v1.12h-14.36c.32,2.44,2.28,4.48,5.56,4.48a7.9,7.9,0,0,0,5.16-1.92l2.24,3.28a11.91,11.91,0,0,1-8,2.68c-5.88,0-10.32-4-10.32-10.16A9.83,9.83,0,0,1,1177.15,119.79Zm-4.76,8.32h9.52a4.48,4.48,0,0,0-4.76-4.28A4.64,4.64,0,0,0,1172.39,128.11Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1202.11,137.59a8,8,0,0,1-6.12,2.48c-3.08,0-6.72-2.08-6.72-6.4,0-4.52,3.64-6.16,6.72-6.16a7.81,7.81,0,0,1,6.12,2.36v-2.68c0-2-1.68-3.24-4.24-3.24a8.13,8.13,0,0,0-5.64,2.28l-1.92-3.4a12.67,12.67,0,0,1,8.44-3c4.4,0,8.44,1.76,8.44,7.32v12.48h-5.08Zm0-5a5.08,5.08,0,0,0-4.08-1.68c-2,0-3.64,1.08-3.64,2.92s1.64,2.84,3.64,2.84a5.08,5.08,0,0,0,4.08-1.68Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1212.23,120.27h5.08v2.64a8.26,8.26,0,0,1,6.16-3.08v5a6.75,6.75,0,0,0-1.4-.12,6.44,6.44,0,0,0-4.76,2.16v12.76h-5.08Z"/><path class="ac2a89c9-0566-40c4-a3de-67d137d93d3c" d="M1227.15,133.51a11.06,11.06,0,0,0,6.68,2.64c2.2,0,3.24-.76,3.24-2,0-1.36-1.68-1.84-3.88-2.28-3.32-.64-7.6-1.44-7.6-6,0-3.24,2.84-6.08,7.92-6.08a12.14,12.14,0,0,1,7.76,2.64l-2,3.48a8.15,8.15,0,0,0-5.72-2.24c-1.84,0-3,.68-3,1.8s1.52,1.64,3.68,2.08c3.32.64,7.76,1.52,7.76,6.32,0,3.56-3,6.2-8.36,6.2a13,13,0,0,1-8.64-3Z"/></g></svg>');
	background-repeat:no-repeat;
	background-size:100% auto;
	position: relative;
	padding-top:51%;
	> .entry-title{
		position:absolute;
		left:-999rem;
	}
}
.home .entry-header,
.page-template-internal-page .entry-header {
	position:absolute;
	height:1px;
	width:1px;
	left:-999rem;
	overflow:hidden;
}
.entry-title {
	font-family: 'Proxima Nova bold';
	font-size: 4rem;
	text-align: center;
	margin: 4rem 0;
	color:#253746;
}

.entry {
	margin-bottom: 40px;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}
}

.entry-content {
	.page-template-default &{
		padding:4%;
	}

	p {

		&.has-background {
			padding: 25px 30px;

			&.box-shadow {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}

			&.light-text {

				a {
					color: #fff;
					text-decoration: underline;
				}

				a:focus,
				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	ol,
	ul {
		margin-bottom: 30px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $code--background-color;
	}

	.caption {
		margin-top: -20px;
		font-size: $entry-content__caption--font-size;
		font-weight: $font-weight--semibold;
		text-align: center;
	}
}

.content .sticky {
	padding: 30px;
	background-color: $sticky--background-color;
}

/* Entry Meta
--------------------------------------------- */

.entry-meta {

	p {
		margin-bottom: 0;
		font-size: $entry-meta--font-size;
	}

	.entry-header & {
		margin-bottom: 20px;
	}

	.entry-footer & {
		padding-top: 20px;
		border-top: $border-width $border-style $border-color;
	}
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link:before {
	margin: 0 6px 0 2px;
	content: "\2014";
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 60px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {

	li {
		display: inline;
	}

	li a {
		display: inline-block;
		margin-bottom: 4px;
		padding: 8px 12px;
		color: $archive-pagination--font-color;
		background-color: $archive-pagination--background-color;
		font-size: $archive-pagination--font-size;
		font-weight: $font-weight--semibold;
		text-decoration: none;
		cursor: pointer;
	}

	li a:focus,
	li a:hover,
	li.active a {
		color: $archive-pagination--font-color-hover;
		background-color: $archive-pagination--background-color-hover;
	}
}

/* Entry Comments
--------------------------------------------- */

.entry-comments {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}
}

.comment-list {

	li {
		padding: 40px 0 0 30px;
	}

	.depth-1 {
		padding-left: 0;
	}

	.bypostauthor {
		font-size: inherit;
	}
}

.comment-header {
	margin-bottom: 30px;
}

.comment-content {
	clear: both;

	ul > li {
		list-style-type: disc;
	}
}

.comment-respond {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}

	input[type="email"],
	input[type="text"],
	input[type="url"] {
		width: 50%;
	}

	label {
		display: block;
		margin-right: 12px;
	}
}

.comment-header p {
	margin-bottom: 0;
}

.entry-pings {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}

	.reply {
		display: none;
	}
}
